# CẤU HÌNH IP CHUNG CHO TOÀN MẠNG LAN
LAN_HOST_IP=127.0.0.1

# CẤU HÌNH NGROK (Nếu đang test qua mạng Internet)
B4_NGROK_URL=https://[b4-ngrok].ngrok-free.dev
B7_NGROK_URL=https://[b7-ngrok].ngrok-free.dev
B3_NGROK_URL=https://[b3-ngrok].ngrok-free.dev

# CẤU HÌNH MQTT
MQTT_BROKER_URL=[your_hivemq_url]
MQTT_PORT=8883
MQTT_USERNAME=[username]
MQTT_PASSWORD=[password]

# CẤU HÌNH DATABASE
DATABASE_URL=postgresql+pg8000://postgres:postgres@localhost:5432/smart_campus
